body{
    height:100vh;
    font-family: sans-serif  !important;
}

header{
    position: relative;
    margin: auto;
    background-image: url('/Unit03/Images/header.jpg');
    background-size: cover;
    background-position: center;
    display:block;
    padding-left: 5%;
    color: black;
    height: 20vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#company,#slogan{
    color:white;
}

h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
body{  
    margin: auto;  
}
main{
    padding-right:5%;
    padding-left: 5%;
}

footer{
    background-color: #287999;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:50px;
}

#game{
    display:flex;
    justify-content: space-between;
    width:100%;
    background-color: #287999;
    color:white;
    padding:20px;
    height: 200px;
    border-radius: 20px;
}
.row{
    display:flex;
    flex-direction: column;
    padding: 10px;
    width:30%;
}
.awardImage{
    width:50px;
}
#attemptsRow{
    width:10% ;
}