body{
    height:100vh;
    font-family: sans-serif  !important;
}

header{
    position: relative;
    margin: auto;
    background-image: url('/Unit06/books.jpg');
    background-size: cover;
    background-position: center;
    display:block;
    padding-left: 5%;
    color: black;
    height: 20vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#company,#slogan{
    color:white;
}

h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
body{  
    margin: auto;  
}
main{
    padding-right:5%;
    padding-left: 5%;
}

#mainSection{
    width:100%;
}

#storySection{
    display:flex;
    width:100%;
}
.storySubsection{
    width:33%;
}
textarea{
    width:90%;
    height:250px;
    resize: none;
    margin-bottom: 20px;
}

footer{
    background-color: #287999;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:50px;
}